[user]
	email = lucksdeveloper@gmail.com
  signingkey = /home/lucas/.ssh/id_ed25519.pub
[gpg]
  format = ssh
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
