[Unit]
Description=Clipboard history daemon
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wl-paste --type text --watch cliphist store
ExecStartPost=/usr/bin/wl-paste --type image --watch cliphist store
Restart=on-failure

[Install]
WantedBy=graphical-session.target
