[Unit]
Description=PolicyKit Authentication Agent
After=graphical-session.target

[Service]
ExecStart=/usr/bin/uwsm app -- hyprpolkitagent
Restart=on-failure

[Install]
WantedBy=graphical-session.target
