@define-color background  rgba(0, 0, 0, 0.0);
@define-color border      rgba(0, 0, 0, 0.0);
@define-color foreground  rgba(255, 245, 240, 1.0);
@define-color bar         rgba(0, 0, 0, 0.8);

* {
  font-family: "Roboto Slab";
  font-size: 14px;
  color: @foreground;
}

window#waybar {
  background: @bar;
  border: 0px solid @border;
  border-radius: 10px;
}

.modules-left,
.modules-center,
.modules-right {
  background: @background;
  border-radius: 10px;
  padding: 5px 10px;
}

#workspaces button {
  all: unset;
  color: @foreground;
  padding: 0px 6px;
  font-size: 16px;
}

#workspaces button.active {
  color: @foreground;
}

#clock,
#network,
#bluetooth,
#battery {
  padding: 0 6px;
}
